<% if (typeof(tieu_De)=='undefinded' ) { var tieu_de='' ; } %>

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            <%= tieu_de %>
        </title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

    </head>

    <body style="background-image: url('https://mdbootstrap.com/img/Photos/new-templates/tables/img4.jpg');">
        <nav class="navbar navbar-expand-lg mb-3">
            <div class="container-fluid">
                <a class="navbar-brand row" href="#">
                    <img src="https://r2s.edu.vn/wp-content/uploads/2021/04/FPT_Polytechnic.png" width="=170"
                    height="70">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active text-white fs-5" aria-current="page" href="/nhanvien">Danh sách sản phẩm</a>
                        <p class="fs-5 nav-link" >|</p>
                        <a class="nav-link text-white fs-5" href="nhanvien/dshoadon">Danh sách hoá đơn</a>
                    </div>
                </div>
                 <a class=" btn btn-danger justify-content-end" href="/">Đăng xuất</a>
            </div>
        </nav>