<%- include('../inc/navNV', {tieu_de: 'Du-An' }) %>
  
<div class="container mt-4">
    <h2>Tạo hóa đơn</h2>
  
    <form>
      <div class="form-group">
        <label for="product">Sản phẩm:</label>
        <select class="form-control" name="sanpham" data-bs-toggle="dropdown" aria-expanded="false">
            <% listsp.forEach((row)=> { %>
                <option value="<%= row._id %>">
                    <%= row.tensp %>
                </option>
                <% }); %>
        </select>
      </div>
  
      <div class="form-group">
        <label for="quantity">Số lượng:</label>
        <input type="number" class="form-control" id="quantity">
      </div>
  
      <div class="form-group">
        <label for="customer">Tên khách hàng:</label>
        <input type="text" class="form-control" name="tenkh">
      </div>
  
      <div class="form-group">
        <label for="address">Địa chỉ:</label>
        <input type="text" class="form-control" name="diachikh">
      </div>
  
      <div class="form-group">
        <label for="date">Ngày mua:</label>
        <input type="date" class="form-control" name="ngaymua">
      </div>
  
      <button type="submit" class="btn btn-primary">Tạo hóa đơn</button>
    </form>
  </div>

<%- include('../inc/bottom') %>