<%-include('../inc/navQL') %>
<div class="container">
    <h1>Danh sách thể loại</h1>
    <ul id="category-list" class="list-group"></ul>
    <form id="add-category-form">
      <div class="form-group">
        <input type="text" class="form-control" id="category-name" placeholder="Tên thể loại">
      </div>
      <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
  </div>

  <!-- Link JS của Bootstrap và jQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="script.js"></script>