<%-include('../inc/navQL') %>
<div class="container mt-5">
    <h2>Thêm trạng thái</h2>
    <hr>
    <%= msg %>
    <form action="" method="post">
        <div class="mb-3">
            <label for="price" class="form-label">Thể loại</label>
            <input type="text" class="form-control" name="theloai">
        </div>
        <button type="submit" class="btn btn-primary">Thêm thể loại</button>
    </form>
    <hr>
  </div>

    <script>
        // SCRIPT ĐỂ VÔ HIỆU HOÁ CHECK BOX NẾU NGƯỜI DÙNG K CHỌN
        const checkboxes = document.querySelectorAll('input[name="selectedIds"]');
        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', updateDeleteButtonState);
        });

        function updateDeleteButtonState() {
            const deleteButton = document.getElementById('xoaBtn');
            const checkedCheckboxes = document.querySelectorAll('input[name="selectedIds"]:checked');

            if (checkedCheckboxes.length > 0) {
                deleteButton.disabled = false;
            } else {
                deleteButton.disabled = true;
            }
        }
    </script>

<%-include('../inc/bottom') %>