<%-include('../inc/navQL') %>
    <div class="container mt-5">
        <h2 class="d-flex justify-content-center">DANH SÁCH THỂ LOẠI</h2>
        <hr style="border: none; height: 2px; background-color: black; font-weight: bold;">
        <form action="/quanly/addtheloai" method="post" class="bg-light border-3">
            <div class="mb-3">
                <label for="price" class="form-label">Nhập tên thể loại: </label>
                <input type="text" class="form-control" name="theloai" required>
            </div>
            <button type="submit" class="btn btn-primary">Thêm thể loại</button>
        </form>
        <hr style="border: none; height: 2px; background-color: black; font-weight: bold;">

        <form action="/quanly/addtheloai/xoatheloai" method="POST">
            <div class="container">
                <table class="table table-light" >
                    <thead>
                        <tr>
                            <th class="col col-6 ">Thể loại</th>
                            <th class="col col-6">Checkbox</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% listtl.forEach((row)=> { %>
                            <tr>
                                <td>
                                    <%= row.theloai %>
                                </td>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input border-3" type="checkbox" name="selectedIds"
                                            value="<%= row._id %>">
                                    </div>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
            <button type="submit" class="btn btn-danger" id="xoaBtn" disabled>Xoá thể loại</button>
        </form>
    </div>

    <script>
        // SCRIPT ĐỂ VÔ HIỆU HOÁ CHECK BOX NẾU NGƯỜI DÙNG K CHỌN
        const checkboxes = document.querySelectorAll('input[name="selectedIds"]');
        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', updateDeleteButtonState);
        });

        function updateDeleteButtonState() {
            const deleteButton = document.getElementById('xoaBtn');
            const checkedCheckboxes = document.querySelectorAll('input[name="selectedIds"]:checked');

            if (checkedCheckboxes.length > 0) {
                deleteButton.disabled = false;
            } else {
                deleteButton.disabled = true;
            }
        }
    </script>

    <%-include('../inc/bottom') %>